/* colors
yellow: #f5d05e
blue: #7aadb4 */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lucida sans;
    background-image: url(/image/boblergule.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    width: 20%;
    position: fixed;
}

/* undersider */

.arrow {
    position: fixed;
    right: 10%;
    font-size: 10em;
    text-decoration: none;
    color: #7aadb4;
    font-weight: bolder;
    font-family: sans-serif;
}

.u article h1 {
    position:fixed;
    top: 1em;
    right: 47%;
}


/*  Frontpage */

.fp article {
    position: absolute;
    width: 40%;
    height: 100%;
}

.fp article h1 {
    text-align: center;
}

.fp .nyheder {
    background-color: #7aadb4;
    border-radius: 12px;
    margin: 10% 4% 4% 4%;
    height: 70%;
    color: white;
}

.fp .buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-evenly;
    font-size: 1.7em;
    right: 20%;
}

.fp a {
    color: white;
    background-color: #7aadb4;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    border-radius: 12px;
}


/* udstyr */

.ud article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5% 20% 0% ;
}

.ud .oversigt a {
    background-color: #7aadb4;
    border-radius: 12px;
    width: 30%;
    margin: 2%;
    text-align: center;
    color: white;
}

.ud .oversigt img {
    width: 70%;
    padding: 5%;
}

/* udlån */

.ul {}

/* anbefalinger */

.ab {}
