/* colors
yellow: #f5d05e
blue: #7aadb4 */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lucida sans;
    background-image: url(/image/boblergule.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    width: 20%;
    position: absolute;
    top: 0;
}

/* UNDERSIDER */

.arrow {
    position: fixed;
    left: 7%;
    font-size: 10em;
    text-decoration: none;
    color: #7aadb4;
    font-weight: bolder;
    font-family: sans-serif;
}

.u article h1 {
    position:absolute;
    top: 1em;
    right: 47%;
}


/*  FRONTPAGE */

.fp article {
    position: absolute;
    width: 40%;
    height: 100%;
}

.fp article h1 {
    text-align: center;
}

.fp .nyheder {
    background-color: #7aadb4;
    border-radius: 12px;
    margin: 10% 4% 4% 4%;
    height: 70%;
    color: white;
}

.fp .buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-evenly;
    font-size: 1.7em;
    right: 20%;
}

.fp a {
    color: white;
    background-color: #7aadb4;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    border-radius: 12px;
}

/* UDLÅN */

.ul {}

/* ANBEFALINGER */

.ab {}

/* UDSTYR */

.ud article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 8% 10% 0% ;
}

.ud .oversigt a {
    background-color: #7aadb4;
    border-radius: 12px;
    width: 35%;
    margin: 2%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.ud .oversigt img {
    width: 35%;
    padding: 5%;
}

.ud .oversigt h2 {
    margin: 0 1em 1em;
}

/* UDSTYR UNDERSIDER */


.uds article {
    width: 50%;
    margin: auto;
    margin-top: 6%;
}

.uds section {
    background-color: #7aadb4;
    border-radius: 12px;
    display: flex;
    color: white;
    flex-wrap: wrap;
    margin: 1em;
}

.uds section img {
    width: 40%;
    margin: 5%;
}

.ka section h3 {
    width: 50%;
    height: 1em;
}

